/* General StyleSheet for ParaDe */
BODY {
	font-family: Tahoma, Arial;
	font-size: 0.8em;
}

DIV.command {
	font-size: smaller;
}

A img {
	border: none;
	border-width: 0px;
}

TD {
	font-family: Tahoma, Arial;
	font-size: 0.8em;
	vertical-align: middle;
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	border-spacing: 0px;
	border-width: 0px;
}

TH {
	font: caption;
	background-color: #ddddff;
	text-align: left;
	font-weight: bold;
}

TR.odd {
	background-color: #ffffff;
}

TR.even {
	background-color: #f5f5ff;
}
TR:hover {
    background-color: #ddddff;
}

/* CSS styles for browser layout */

#browse-header {
  width: 100%;
  height: 4%;
  border-bottom-style: solid;
  border-bottom-color: #ddddff;
  background-color: #ddddff;
}
#tree {
  float: left;
  width: 14%;
  height: 96%;
  border-right-style: solid;
  border-right-color: #ddddff;

}
#directory {
  float: left;
  width: 85%;
  height: 80%;
  overflow:auto;
}
#command {
  float: left;
  width: 85%;
  height: 16%;
  border-top-style: solid;
  border-top-color: #ddddff;
}

/* CSS styles for log layout */

#log-header {
  width: 100%;
  height: 4%;
  border-bottom-style: solid;
  border-bottom-color: #ddddff;
  background-color: #ddddff;
}

#log-view {
  float: left;
  width: 100%;
  height: 96%;
}