# make sure there are no spaces after the paths!!


#---- tomcat manager configuration  --------------------------------
#these properties are needed by the TomcatManager

# the port used by tomcat for http
http.port=8080

#where is the web application?
webapp.path=webapp

#manager access
tomcat.manager.user=someuser
tomcat.manager.pass=somepass

#where are the logs being stored?
tomcat.output=logs/server-output.txt

parade.authorizerClass=org.makumba.parade.tools.DummyAuthorizer
parade.authorizationMessage=Parade, use password of your BEST private area account
parade.authorizationDB=localhost_mysql_karamba

ant.displayedOps=compile, clean, getTaglibs, getMakumba, getLocalMakumba, copyLocalMakumba, doc, applets

access.managers=org.makumba.parade.LoggingManager

makumba.site=http://download.makumba.org/makumba/download/
cvs.site=http://cvs.makumba.org/cgi-bin/cvsweb.cgi/


