# make sure there are no spaces after the paths!!

#where is the web application?
webapp.path=webapp

parade.authorizerClass=org.makumba.parade.auth.LDAPAuthorizer
parade.authorizationMessage=ParaDe 2, use password of your BEST private area account

# LDAP authorizer properties
parade.authorization.ldapHost=valladolid.BEST.eu.org
parade.authorization.baseDN=ou=Members,dc=BEST,dc=eu,dc=org

# leave blank for no encryption (plain text) or specify a comma-sparated list of encryptions to try
# e.g. DIGEST-MD5,RSA-SHA1
parade.authorization.encryption=

ant.displayedOps=compile, clean, getTaglibs, getMakumba, getLocalMakumba, copyLocalMakumba, doc, applets

makumba.site=http://download.makumba.org/makumba/download/
cvs.site=http://cvs.makumba.org/cgi-bin/cvsweb.cgi/

# Aether engine configuration

#aether.enabled=true
#aether.databaseName=localhost_mysql_parade
#aether.excludedFiles=WEB-INF/classes/dataDefinitions/general/Person.mdd,WEB-INF/classes/dataDefinitions/best/Student.mdd