# make sure there are no spaces after the paths!!


#---- tomcat manager configuration  --------------------------------
#these properties are needed by the TomcatManager

# the port used by tomcat for http
http.port=8080

#where is the web application?
webapp.path=webapp

#manager access
tomcat.manager.user=someuser
tomcat.manager.pass=somepass

parade.authorizerClass=org.makumba.parade.auth.LDAPAuthorizer
parade.authorizationMessage=ParaDe 2, use password of your BEST private area account

# LDAP authorizer properties
parade.authorization.ldapHost=valladolid.BEST.eu.org
parade.authorization.baseDN=ou=Members,dc=BEST,dc=eu,dc=org

# leave blank for no encryption (plain text) or specify a comma-sparated list of encryptions to try
# e.g. DIGEST-MD5,RSA-SHA1
parade.authorization.encryption=

ant.displayedOps=compile, clean, getTaglibs, getMakumba, getLocalMakumba, copyLocalMakumba, doc, applets

makumba.site=http://download.makumba.org/makumba/download/
cvs.site=http://cvs.makumba.org/cgi-bin/cvsweb.cgi/

parade.applications.default=karamba