<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- NOTE for co-developers: 
	Tomcat may reload the webapp automatically when this file changes. However, sometimes an explicit reload, or even an uninstall/reinstall may be needed.
	Tomcat 4.1 XML parser used to demand a certain order in the tags below. This is no longer true for Tomcat 5.
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">


	<!-- Makumba Controller Filter, needed to invoke e.g. form responders! -->
	<filter>
		<filter-name>makumba_controller</filter-name>
		<filter-class>
			org.makumba.controller.http.ControllerFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>makumba_controller</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	

	<!-- after all redirections are done, the makumba controller is applied -->

	<!-- ============  DEFINE servlets to handle ============== -->
	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>
			org.makumba.parade.init.InitServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>
			org.makumba.parade.view.IndexServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>browse</servlet-name>
		<servlet-class>
			org.makumba.parade.view.BrowserServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>
			org.makumba.parade.view.FileEditorServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>logs</servlet-name>
		<servlet-class>
			org.makumba.parade.view.LogViewServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ticker</servlet-name>
		<servlet-class>
			org.makumba.parade.view.TickerTapeServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>cvscommit</servlet-name>
		<servlet-class>
			org.makumba.parade.listeners.CVSCommitListenerServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>
			org.makumba.parade.view.UserServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>logs</servlet-name>
		<url-pattern>/logs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ticker</servlet-name>
		<url-pattern>/ticker</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>cvscommit</servlet-name>
		<url-pattern>/cvscommit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>


	<!-- Struts Action Servlet Configuration -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>



	<!-- =========== MAP servlets with URL ================= -->

	<!-- Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp, index.htm</welcome-file>
	</welcome-file-list>

	<taglib>
		<taglib-uri>/WEB-INF/lib/tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/lib/tiles.tld</taglib-location>
	</taglib>



	<!-- Developer support - MDD & Business logic browser & viewer -->
	<servlet>
		<servlet-name>mddLinker</servlet-name>
		<servlet-class>
			org.makumba.devel.SourceViewServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mddLinker</servlet-name>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mddLinker</servlet-name>
		<url-pattern>*.jspxp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mddLinker</servlet-name>
		<url-pattern>/dataDefinitions/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mddLinker</servlet-name>
		<url-pattern>/classes/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mddLinker</servlet-name>
		<url-pattern>/logic/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mddLinker</servlet-name>
		<url-pattern>/codeGenerator/*</url-pattern>
	</servlet-mapping>


	<!-- Developer support - single data object viewer. Should be not used / protected in production! -->
	<servlet>
		<servlet-name>dataViewer</servlet-name>
		<servlet-class>
			org.makumba.devel.DataObjectViewerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataViewer</servlet-name>
		<url-pattern>/dataView/*</url-pattern>
	</servlet-mapping>

	<!-- Developer support - data lister. Should be not used / protected in production! -->
	<servlet>
		<servlet-name>dataLister</servlet-name>
		<servlet-class>
			org.makumba.devel.DataTypeListerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataLister</servlet-name>
		<url-pattern>/dataList/*</url-pattern>
	</servlet-mapping>

	<!-- Developer support - pointer value converter. Should be not used / protected in production! -->
	<servlet>
		<servlet-name>dataValueConverter</servlet-name>
		<servlet-class>
			org.makumba.devel.DataPointerValueConverter
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataValueConverter</servlet-name>
		<url-pattern>/valueConverter/*</url-pattern>
	</servlet-mapping>

	<!-- Developer support - query tool. Should be not used / protected in production! -->
	<servlet>
		<servlet-name>dataQuery</servlet-name>
		<servlet-class>
			org.makumba.devel.DataQueryServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataQuery</servlet-name>
		<url-pattern>/dataQuery/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
      <servlet-name>codeGenerator</servlet-name>
      <servlet-class>org.makumba.devel.CodeGenerator</servlet-class>
    </servlet>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

</web-app>