/* General StyleSheet for ParaDe */

body
{
     font-family:Tahoma,Arial;
     font-size:0.8em;
     
}

div.command {
	font-size:smaller;
	}

a img {
  border:none;
  border-width:0px;
}

td {
	font-family:Tahoma,Arial;
    font-size:0.8em;
	}



.viewed {
   color: blue;
}
.edited {
   color: orange;
   font-weight: bold;
}
.tested {
   color: fuchsia;
}
.meta {
   color: grey;
}
.cvsupdated {
   color: green;
}
.cvscommited {
	color: red;
	text-decoration: underline;
}
.cvsneedupdate {
	color: purple;

}
.mainuser {
	text-decoration: underline;
}